<div class="container-fluid p-0">
  <div class="position-relative overflow-hidden vh-100">

    <video
  #bgVideo
  class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
  autoplay
  muted
  loop
>
  <source src="/video/fondo2.mp4" type="video/mp4">
</video>

    <div class="content position-relative w-100 h-100 d-flex flex-column justify-content-center align-items-center px-3 px-md-0">
      <img src="/images/logo.png" alt="Logo" class="logo mb-4 w-50">

      <div class="d-flex gap-3">
        <a
          routerLink="/signIn"
          class="btn-portada"
        >
          <i class="fa-solid fa-user-plus me-2"></i>Crear cuenta
        </a>
        <a
          routerLink="/login"
          class="btn-portada btn-portada-outline"
        >
           <i class="fa-solid fa-right-to-bracket me-2"></i>Iniciar sesión
        </a>
      </div>
    </div>

  </div>
</div>


