<div class="container-fluid contenedor img-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

        <img src="/images/logo.png" class="img-fluid " alt="Imagen responsiva">   

      <!-- Card principal -->
      <div class="card shadow-lg rounded-4 border-0">
        <div class="card-body p-5 bg-light rounded-4 border-0">


          <h2 class="text-center mb-4 text-success fw-bold">Iniciar Sesión</h2>
          <p class="text-center text-muted mb-4">
            Completa los campos para registrarte en nuestra plataforma
          </p>

          <form>

            <!-- Usuario -->
            <div class="mb-3">
              <label class="form-label">Nombre de usuario</label>
              <input type="text" class="form-control rounded-pill border border-success shadow-sm" placeholder="username">
            </div>

            <!-- Contraseña -->
            <div class="mb-3">
              <label class="form-label">Contraseña</label>
              <input type="password" class="form-control rounded-pill border border-success shadow-sm" placeholder="********">
            </div>

            <!-- Botón principal -->
            <button type="submit" class="btn btn-success w-100 rounded-pill shadow-sm py-2">
              Iniciar sesión
            </button>

          </form>

        </div>
      </div>

      <!-- Pie con llamada a acción -->
      <p class="text-center text-muted mt-3">
        ¿No tienes cuenta? <a routerLink="/signIn" class="text-primary fw-bold">Crear cuenta</a>
      </p>

    </div>
  </div>
</div>

